$color_1: #424363;
$background-color_1: #4c494f;
$background-color_2: #c9727f;

.bg-dark {
  background-color: $background-color_1 !important;
}
.nav-link {
  position: relative;
}
.cart {
  position: absolute;
  background-color: $background-color_2;
  width: 19px;
  height: 20px;
  border-radius: 50%;
  color: $color_1;
  text-align: center;
  top: 4px;
  left: -5px;
}
